Hello

In [1]:
x = 5
import pandas

In [2]:
# cell source file: documentation_generator/examples/jupyter_notebook_cells/basic_execfile_contents.py
# an individual file
import pandas as pd
import numpy

print("hi2")


df = pd.DataFrame.from_dict({"id":[1, 1, 1, 2, 2, 2],
                             "old":["a", "b", "c", "d", "e", "f"],
                             "marker":[1, 2, 3, 1, 2, 3]})
df

hi2

   id old  marker
0   1   a       1
1   1   b       2
2   1   c       3
3   2   d       1
4   2   e       2
5   2   f       3

In [3]:
#